[submodule "emacs/themes/emacs-color-theme-solarized"]
	path = emacs/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "emacs/vendor/evil-rebellion"]
	path = emacs/vendor/evil-rebellion
	url = https://github.com/tarleb/evil-rebellion
[submodule "emacs/vendor/evil-lispy"]
	path = emacs/vendor/evil-lispy
	url = https://github.com/bcarrell/evil-lispy
[submodule "emacs/snippets/yasnippet-snippets"]
	path = emacs/snippets/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
[submodule "emacs/snippets/yasmate"]
	path = emacs/snippets/yasmate
	url = https://github.com/capitaomorte/yasmate
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "emacs/spacemacs.d"]
	path = emacs/spacemacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "haskell/structured-haskell-mode"]
	path = haskell/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
[submodule "haskell/ghci-ng"]
	path = haskell/ghci-ng
	url = https://github.com/chrisdone/ghci-ng.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "fish/fisherman"]
	path = fish/fisherman
	url = https://github.com/fisherman/fisherman
