# Files i'm working on
*.swp
# and hidden
.*
# Ignore backups of files before installation
*.bp
*.bak
# vim Vundle files
vim/vim/bundle/*
!vim/vim/bundle/Vundle.vim
scripts/startup.sh

# ranger
ranger/history
ranger/bookmarks
