[submodule "prezto"]
	path = prezto
	url = https://github.com/scoiatael/prezto
[submodule "vim/vim/bundle/Vundle.vim"]
	path = vim/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "emacs.d/themes/emacs-color-theme-solarized"]
	path = emacs.d/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "emacs.d/vendor/evil-rebellion"]
	path = emacs.d/vendor/evil-rebellion
	url = https://github.com/tarleb/evil-rebellion
[submodule "emacs.d/vendor/evil-lispy"]
	path = emacs.d/vendor/evil-lispy
	url = https://github.com/bcarrell/evil-lispy
[submodule "emacs.d/snippets/yasnippet-snippets"]
	path = emacs.d/snippets/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
[submodule "emacs.d/snippets/yasmate"]
	path = emacs.d/snippets/yasmate
	url = https://github.com/capitaomorte/yasmate
