[submodule "emacs/themes/emacs-color-theme-solarized"]
	path = emacs/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "emacs/vendor/evil-rebellion"]
	path = emacs/vendor/evil-rebellion
	url = https://github.com/tarleb/evil-rebellion
[submodule "emacs/vendor/evil-lispy"]
	path = emacs/vendor/evil-lispy
	url = https://github.com/bcarrell/evil-lispy
[submodule "emacs/snippets/yasnippet-snippets"]
	path = emacs/snippets/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
[submodule "emacs/snippets/yasmate"]
	path = emacs/snippets/yasmate
	url = https://github.com/capitaomorte/yasmate
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "vim/bundle/ctrlp.vim"]
	path = stow/vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-surround"]
	path = stow/vim/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-pathogen"]
	path = stow/vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-autoclose"]
	path = stow/vim/.vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "emacs/emacs.d"]
	path = stow/emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "tmux-plugins/tpm"]
	path = stow/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
