{
	"data": "ENC[AES256_GCM,data:ar95SOtpK9x+0l1R1wZeQty71j0cmRrIBSqsOlF6erkKqYQEM4yLUSXbvlNuRaG7Wqb11C+dr2PDFeZsR3IX2KevTLXRkURcEldC7cdGC0/2go0YZ2OfascA+HxDUDPPdutheExX54pNjo/PHw1pa6AJaYNqI4bZyB5i3zVVaz92qlQ=,iv:+EBzoIq5GQZ2+H5vvBMuCaceZPH0fbCmcSqyei3iuVw=,tag:bZ9ndr/Rg0k+kWX0vp/1Yw==,type:str]",
	"sops": {
		"age": [
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA4Um5hcXJFWDZPYldGWTl0\najJ0aHpUWWVESTd2cnFHTDd5c21oUVZtUlNJCjNFenlqck0xU2F6TWt4YUd1NEZp\ndzdKSWNBWTJWclJPOWJRRmVVUGRLYU0KLS0tIEdETjNnc1BDR0M3Y0x4MXpDZ1JP\nZHRuR2dIS3EyNVlqMVJPeWpkZjlIc2MKxaeYo7TmGYatZuQF0WyAQ9fKFIs9dIhR\n/QTi8fR2InVKHetzkgIEi6JH3jZBI0f5CUP3UYTeiNx7y+EZey7NCg==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "age1mm8ejmjpmnepjjdvxnqj9twlee85fe9dl3l7ws2ujeeehk9nj5rsty3s8c"
			},
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBjbEF6bWdrWlRKTEs3OEph\nZUlxTVorTERJT05ncmwrTnBhNjNGVDNrWGtFCk1zZUo0aGorWU1VOHZxNmFQeXdM\ndFYrZldoakF3SUdRY0VjWFhvd1VnVGMKLS0tIGh5SUxBczIxVkFUUkFNNDZWS1Vx\nZ1pqWG5WeGJ4amdQMlEzalF2eWtlOTQK4qcLVnzOQfVSFATSJ9BROvoMv7zsrWrb\nYIW0OPzzaKAPJ7yaupClAstHry3WI9tOIlPk0ZeIMap9KKx+E+uQ8w==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "age1m6zyqeydal8weye55lag3pw24k45rp0xst23r2hvpd9xjnqsu49qzy3zh5"
			}
		],
		"lastmodified": "2026-08-20T14:53:20Z",
		"mac": "ENC[AES256_GCM,data:ONGeaIJIf3dHPyYGQHo3UsUALXMICCdf08UCSt4wSJtQafUaT+o5YEFhm6qcrYJtq1jwsjjoJvBmFwuVCW2l3KoOkPIVNFBROqDjWVoAREnCeLCZU863dGrNsAqsBpgj6Ok8i59VIAgdjsOznxMgYIPl1FSTQc5b8av5rEl6vkU=,iv:ue0f2fO7R8H/Vx84dch1SHeHgxvwGlrOIRmURIJIBrc=,tag:lltkcSDKLhKLZ0vSKovPiA==,type:str]",
		"version": "3.13.1"
	}
}
