{
	"data": "ENC[AES256_GCM,data:uyN/RSC5m3ckEmtyyHRPt6F9WK+WD+TyABZ/wMJZMH5x/u+nGJd4JhSTOI1/DgNGJ4Plru3iLWZc7z0JbIOezYsdy2aMzZ3d0cAhgamwUu37eCwaOqYknue+y0mGtc6/viFfGqDIdPKlDURwJZVaZX0v2bqjakTLcdAQpFJyf8rs4cnUbLl/92rBO9nNl/WgBd7evtiaDPTDTkDA/yo1QMZe9la6NQRRoTsU2azy74MSoKHnn5aUpvdQYIBxUnwSD7kQLCW6pR7YQwfrLYOb/ABSTG3uVQht5gu9PnNeagFHQf9BAnrwgCoyfvGamWlEa1D7yFseh38v+/2Y+dlqwDsSUTkQDFCjY3nu4SpMHs/Lr3tPFTFzSXaDblKK2rV5DeZ8bk+x/FAm9Ijp1gixiAEpeyt7G85PhGnGUt9GuT925x8BO9bqehmA8m4tY6dD4JjcFEpf2+hzfQJCfJvxIRCcjlRr8hPxxcTthCLsd2E=,iv:UmeKicPdTUxl/gZNjckD7T2C0mcjIpdeHyhGChOVx3o=,tag:pOOLZEFdS47umRBgWvvwiA==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1yp8zxc8yn8af7numgt069cwe85yzgsyjec08x26sy606ap3z6g4qqqz5xd",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBVWk5NL3QyclBUbjhUVzhJ\namJkMjBiOHlsazl2RjlGQ2l0VnplaEZoSHhRCnE1QWFpcnpkRENrVVRaOFBDdHhH\nVEl3b3BjMlBMVGhVNWdBdVlaaWZYcGcKLS0tIFNlL1JMUSt2Y0pHTHRNdDcrOVpU\nVXlsT2daMVEyOHFoNWNQZXlETW4wZ0EKJoPzsqrGc1lrTdoIAKN4bOO1F+/zIqdb\n8ujPwlnOZAou3ezqq7gZYo11L3jaqyW5L93JJWNL4OVnFDuo5w9aUg==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-04-03T12:45:16Z",
		"mac": "ENC[AES256_GCM,data:2Y+HjIOwVsfkAo6p8BPmiT9/iHxWoHXVTSr4ts2fSBdT8p9f5QGuHhZeex4AYeFrIupfmcMIXaxBj5b+UeMPTcxAtkJ7lowCb+ViiaTsgyk3Pd0BhiO2PlFrBQXxewi1rgy8SNFb97DXojI/ZjuM0zwpIdWKBQgMt/o+chPuytw=,iv:F7zOSngRla9C9fSGfvrzNhIFGrPtwt9YsvZWjANog3Q=,tag:leA6WJ7RlpFa1ZCDiUX5JQ==,type:str]",
		"pgp": [
			{
				"created_at": "2026-04-03T12:45:16Z",
				"enc": "-----BEGIN PGP MESSAGE-----\n\nhQIMA6R5twl3hkEuAQ/8Df0pa93iFngiH1gN/OAmJNDAlyItrJFkFGdY3+NqKrs1\nlmPxoWh2ZlCYtCuqq7VcoP+TJRrYmx5PdZZ4XvKwex9Xu0BuLAxwRfwRzk2hLMZt\ng6WTHBmJuoT/C+EY3/4QC68SzsflsjHJMkC6cLkcfuNMAcZ1Yx2AOPGJCDYf7NO7\n88neafhbxkYFlymPzijtGz31UUDmNwNPmMoG+kn0myFOdSfCMg4rEv2KKBlxrn3+\n/X2Y7AF2fSGvZo6m2AgLRTqVD07n6z6iJUx8p3iqxhvAsE4IYB5IhYDAvOF2Xbi8\n2WzyUkpqn7I/HwBS/fQdrtj5DqYAYA4FvFnS3MTAIdTP+csdS3w29lQs0/loIDvm\n9ViT5tZ2G6e/UiZwZL/A5v7wncmo0N+eU9i+TbXC3GsrIBu8jwTksGDKW/i26ZOI\nhhKS2XL0Hd1f13zVc/bQyqh1mp7HlJxNmlBDyrla9W9/bRIw/jN2O0zre9x7zp4V\nj6ApAPoGWMoXMKLbnGP+7MdLdZazXOuKg4RC9ABmhwqE0VGOz3C2caNR+4Tx3M5+\nDJg0uTvjc/YFgoGAjzXoZ+3aDXoiuRCelNhG9mfPAh7GplvcT/VZgpThtzTxExqH\nz5Tg/lZI2yognzEaVnq9QZ9IXN+Eo5P2yxy4AVlVb8kEc8v4tG8XsbTlSZDTBtzS\nXgHlS1QA33X6R1PvYm1XuTwXqhObltco1TxlL3wUwJ+KJQyWHrPN7vO7dThFTZHb\njhe1YZtK+hik/pHhN9AammImjshUHWOtkPv+NUnyN5nDZVHw045ruqWFtl3pO5I=\n=tuph\n-----END PGP MESSAGE-----",
				"fp": "EAB800957676ADBE2E29E1B61F748B25B736F0A8"
			}
		],
		"version": "3.12.1"
	}
}
