{:profiles {
    :Default {
        :default true

        :sim     100    ;; simultaneous_threshold_milliseconds (def: 50)
                        ;; if keydown event for two different keys are pressed within :sim ms, the keypresses are considered simultaneous
        :delay   500    ;; to_delayed_action_delay_milliseconds (def: 500)
                        ;; after :delay ms, the key press is considered to be delayed (TODO WHAT IS THIS??)
        :alone   1000   ;; to_if_alone_timeout_milliseconds (def: 1000)
                        ;; if keyup event comes within :alone ms from keydown, the key is not just pressed but held
        :held    500   ;; to_if_held_down_threshold_milliseconds (def: 500)
                        ;; key is fired twice when :held ms is elapsed (otherwise seen as a hold command) (TODO WHAT IS THIS??)
    }}
 :applications {:terminal ["^io\\.alacritty$"] :emacs ["^org\\.gnu\\.Emacs$"]}
 :main [{:des "caps+_->ctrl+_;caps->esc" :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "spc->shift in emacs" :rules [[:spacebar :left_shift :emacs {:alone :spacebar}]]}]}
