fish_history
fishd.*
functions/*
!functions/fisher.fish
!functions/fish_prompt.fish
!functions/fish_right_prompt.fish
!functions/gitbrowse.fish
!functions/rvm.fish
!functions/fish_user_key_bindings.fish
conf.d/*
completions/*
